.pool-settings-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em 1em;
  align-items: center;
  text-align: right;

  input {
    text-align: right;
  }
}

.add-button {
  width: 100%;

  :first-child {
    width: 100%;
  }
}
